<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/pattern.html">
<div layout:fragment="content">
    <div class="row">
        <div class="rounded mt-5 ms-3 col-2 bg-light" style="height: 360px;">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Dashboard}"></span>-->
                            <span>Смартфоны и фототехника</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Orders}"></span>-->
                            <span>Пк и ноутбуки</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Products}"></span>-->
                            <span>Комплектующие для ПК</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Customers}"></span>-->
                            <span>Сетевое оборудование</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Customers}"></span>-->
                            <span>Бытовая техника</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users" class="align-text-bottom"></span>
                            <!--                            <span th:text="#{sideBar.Customers}"></span>-->
                            <span>Тв, консоли и аудио</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-5 col-8">
            <h2>Nubia Z50 Ultra: плоский дисплей без отверстий и вырезов на 120 Гц, чип Snapdragon 8 Gen 2 и зарядка на
                80 Вт по цене от $577</h2>
            <img class="mt-2" src="/pictures/nubiaZ.jpg">;
            <p>Компания ZTE, как и обещала, провела сегодня в Китае мероприятие, на котором показала свой новый
                флагманский смартфон Nubia Z50 Ultra.</p>
            <p>
            <h3>Что известно</h3></p>
            <p>Новинка получила корпус с габаритами 163.9×76.3×8.3 мм, вес в 228 грамм, а также большой плоский дисплей
                6.8 дюймов без отверстий и вырезов. Экран имеет OLED-матрицу с разрешением Full HD+, частотой обновления
                120 Гц, частотой считывания сенсора 960 Гц, пиковой яркостью 1500 нит и поддержкой 10-битных цветов.</p>
            <p>Под дисплеем смартфона установили фронтальную камеру OmniVision OV16E1Q с разрешением 16 мегапикселей и
                размером пикселя 2.24 мкм. По словам производителя, новая технология пропускает свет на 30% лучше, чем в
                прошлом поколении смартфона. Благодаря этому и алгоритмам, прозрачность экрана при создании селфи и
                видеозвонке увеличилась на 50%. Что касается основной камеры, то она получила три модуля на 64 МП (Sony
                IMX787 с OIS) + 64 МП (перископ) + 50 МП (широкоугольный объектив). Камера работает в паре с
                LED-вспышкой и
                многоканальными спектральными датчиками.</p>
            <p>Nubia Z50 Ultra работает под управлением топового процессора Snapdragon 8 Gen 2. Также новинка получила
                оперативную память LPDDR5x до 16 ГБ, накопитель UFS 4.0 до 1 ТБ, батарею на 5000 мАч с зарядкой на 80
                Вт, систему охлаждения, 5G, Wi-Fi 802.11ax, Bluetooth 5.3, NFC, вибромотрчик X-axis и порт USB-C.
                Поставляется смартфон с ОС Android 13 и оболочкой MyOS 13.</p>
            <p>Продажи Nubia Z50 Ultra стартуют в Китае 14 марта</p>
            <div id="items">
            </div>
        </div>
    </div>


</div>
</html>